.paginationBttns {
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #fca311;
    color: #fca311;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #fca311;
  }
  
  .paginationActive a {
    color: white;
    background-color: #fca311;
  }
  
  .paginationDisabled a {
    color: #e5e5e5;
    background-color: #e5e5e5;
  }