.div_modal{
    position: absolute;
    top: 274px;
    z-index: 9;
    background-color: whitesmoke;
    width: 75%;
    height: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    .div_buttons_modals{
        display: flex;
        flex-direction: row;
        width: auto;
        position: absolute;
        right: 0px;
        top: 0px;
        .button_modal{
            width: 100%;
            border: none;
            background-color: violet;
            color: white;
            border-radius: 25px;
            margin: 1rem;
            padding: 1rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .div_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}