.table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    flex: 9;
    .tr{
        text-align: left;
        background-color: #14213d;
        font-size: 18px;
        font-weight: 600;
        color: white;
        .th{
            padding: 10px;
            width: 25%;
        }
        .th_residents{
            text-align: center;
        }
    } 
}