.table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    flex: 9;

    .tr{
        text-align: left;
        background-color: violet;
        font-size: 18px;
        // padding: 10px;
        .th{
            padding: 10px;
            width: 25%;
        }
        .th_residents{
            text-align: center;
        }
    } 
}